/**
* @package Fonetic Web Callback
*/

#fonetic_admin {}
#fonetic_admin form {padding:30px 15px; border:1px solid #ccc;}
#fonetic_admin form h3 {padding:4px;background:#EFEFEF;}
#fonetic_admin form legend {margin-top:-40px;margin-bottom:25px; padding:5px;background:#EFEFEF;border:1px solid #ccc;}
#fonetic_admin form p {clear:left;}
#fonetic_admin form p label {float:left;display:block;width:250px;margin-top:5px;font-weight:bold;}
#fonetic_admin form p input,
#fonetic_admin form p select {}
#fonetic_admin form p select {width:180px;}
#fonetic_admin form p span {font-style:italic;}

#admin_notices_fonetic {float: right;margin-top: 4px;padding-right: 0px;}
#admin_notices_fonetic img {width:100px;}
